/*
* body定義
*/
body {
    background-color: #006;
    overflow: hidden;
    width:100%;
}
errorbody {
    background-color: red;
}
#wrapper {
    width:99%;
    height:100%;
    /*padding:0px;*/
    background-image:url("../img/bg_image.jpg");
    background-size:cover;
}
#loadingImage {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
  }
  
  #slotMachine {
            text-align: center;
            margin-top: 50px;
        }
        .reel {
            font-size: 2em;
            display: inline-block;
            width: 50px;
        }
        #result {
            margin-top: 20px;
            font-size: 1.5em;
        }

/*
* ヘッダー、フッター共通定義
*/
#header,#businessBody,#footer {
    width: 100%;
    padding: 3px 0;
    margin: 0 auto;
}

#header,#footer {
	background-color:#006;
}

/*
* ヘッダー定義
*/
#header {
    top: 2px;
    height: 40px;
	background-color:#006;
}
#headLeft {
    width:15%;
    text-align:center;
}
#headCenter {
    font-size: 24px;
    color: #ececec;
    width:70%;
    text-align:center;
}
#headRight {
    width:15%;
    text-align:center;
}
/*
* メニュー画面のボタン
*/
.menuBlock {
    margin-left:60px;
    float:left;
    text-align:center;
    padding:30px;
}

/*
* 業務body定義
*/
#businessBody {
    height: 82%;
    overflow: auto;
}

/*
* フッター定義
*/
#footer {
    bottom: 1%;
    height: 70px;
    width: 99%;
    position: absolute;
  	background-color:#006;
    
}
#footLeft {
    float:left;
    width:400px;
    text-align:left;
}
#footCenter {
    width:100%;
    text-align:center;
    color:#fff;
}
#footRight {
    float:right;
    width:400px;
    text-align:right;
}

.copyRight{
	font-size:12px;
}
/*
* エラーページ ヘッダー、フッター共通定義
*/
#errorHeader,#errorBusinessBody,#errorFooter {
    width: 100%;
    margin: 0px;
    padding: 5px;
    background-color: #FFA4C6;
}

/*
* エラーページ ヘッダー定義
*/
#errorHeader {
    top: 1%;
    height: 6%;
    text-align: center;
    font-size: 24px;
    color: #FFFF00;
}

/*
* エラーページ 業務body定義
*/
#errorBusinessBody {
    top: 8%;
    height: 80%;
    overflow: auto;
    font-weight: bold;
    color: black;
}

/*
* エラーページ フッター定義
*/
#errorFooter {
    bottom: 1%;
    height: 10%;
}

#resize{
	 transform: scale(0.95);
	 text-align: -webkit-left;
}

#left{
	margin-left:130px;
}

/*
* ボタンサイズ通常
*/
.smallButton {
	background-color:#ECECEC;
	color:#006;
    width: 100px;
    height: 30px;
    border-radius: 30px;
}

.smallButton:hover {
	background-color:#ccf;
	color:#111;
}

/*
* ボタンサイズ大
*/
.bigButton {
    width: 200px;
    height: 50px;
    border-radius: 30px;
	background-color:#006;
	color:#ECECEC;
	border:2px solid #111;
	
}

.bigButton:hover {
	background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
	animation: rainbowMove 3s linear infinite;
	color:#111;
}

.reel {
            display: inline-block;
            width: 300px;
            height: 200px;
            font-size: 8em;
            margin: 0 10px;
            border: 2px solid #333;
            border-radius: 10px;
            background-image: url('/kikin-for-Struts-bug/pages/img/tranp.png'); 
            background-size: cover; /* 画像をリール全体にフィットさせる */
            background-position: center;
            background-repeat: no-repeat;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        #spinButton {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1.2em;
            cursor: pointer;
            border-radius: 5px;
            background-color: #ffd700; /* 金色 */
            border: none;
            color: #111;
            transition: all 0.3s ease;
        }
        #result {
            margin-top: 20px;
            font-size: 1.5em;
        }

        #winImage {
            display: none; /* 最初は非表示 */
            margin-top: 20px;
        }
/*
* ボタンサイズロング
*/
.longButton {
    width: 200px;
    height: 30px;
    border-radius: 30px;
}

.longButton:hover {
	background-color:#ccf;
	color:#111;
    border-radius: 30px;
}


/*
* 戻るボタンのスタイル
*/
.backButton {
    top: 5px;
    left: 10px;
}

/*
* テーブルヘッダーのスタイル
*/
.tableHeader {
    background-color: #ccf;
    font-weight: bold;
    border: 1px solid black;
    border-collapse: collapse;
    
}
.tableHeader td, .tableHeader th {
        padding: 0;
        border: 1px solid black;
}

/*
* テーブルボディのスタイル
*/
.tableBody {
    background-color: #fefefe;
    border: 1px solid black;
    border-collapse: collapse;
}
.tableBody td, .tableBody th {
        padding: 0;
        border: 1px solid black;
}

tbody tr.tableBody:nth-child(even) td{
	background-color:#dcdcdc;
}

.tableBody tbody tr:nth-child(even){
	background-color:#dcdcdc;
}

.full-width {
        width: 100%;
}
.nomalTable{
	border: 0px solid black;
    border-collapse: collapse;
}
.nomalTable td, .nomalTable th {
        padding: 0;
        border: 0px solid black;
}

.widthTable{
	width: 1500px;
    border-collapse: collapse;
    margin-left:50px;
}
.widthTable td, .widthTable th {
        padding: 0;
}

.widthTable-S{
	width: 950px;
    border-collapse: collapse;
}
.widthTable-S td, .widthTable-S th {
        padding: 0;
}

.non-border {
	border: none !important;
}

.centered-container {
    width: 80%; 
    margin: 0 auto;
}
/*
* 文字色 黒
*/
.fontBlack {
    color: black;
}

/*
* 文字色 青
*/
.fontBlue {
    color: blue;
}

/*
* 文字色 赤
*/
.fontRed {
    color: red;
}


/*追加css ログイン*/
.loginForm{
	margin-top:50px;
	background-color:#ccc;
	width:30%;
	border-radius:20px;
	padding:15px;
	border:2px solid #000;
}

.warning {
	width :650px;
	margin:0 auto;
	background-color:#eee;
	border:1px solid #111;
	border-radius:10px;
}

.warning h2{
	font-size:18px;
	padding-left:16px;
	
}