body {
    margin: 0px 0px;
    background-image:url("/kikin-for-Struts-bug/pages/miya_play/101197887_p14_master1200.jpg");
    background-size:cover;
}


#rogo img {
    width: 250px;
    height: 120px;
    margin-left: 10px;
}

.ura:hover {
	opacity: .5;
}

#real img {
	margin-left: 25px;
}

#setumei{
	padding-left: 300px;
}